
.brand { font-size: 27px; font-weight: bold;  margin-right:3%;
 margin-left:3%;  }

.rightNav { margin-left: 3%; }

img { width: 220px !important; height: 170px !important;   
	 margin: 0px auto; border-radius: 15px;
	 background-size:cover;
  	background-position:center;
  	 width:100%;
 	 height:100%;
}
.button { margin-bottom: 15px;background-color: #FFD2AD; 
	margin-right:5%;border-radius: 50px; }

.button2 { margin-bottom: 15px; color: #B34B2C ; 
	background-color: #E5DDD2 ; margin-right: 5%; border-radius: 45px; }

.shop-contact { margin-left: 5%; }

h3 { color : #DB2D36;  background-color: #FFD2AD;  ;
  }

.description { color:black; font-weight: normal!important;
				margin-left:8px;
}

.product-title { color : #D96226;  margin-left: 7%; font-weight: bold;
					font-size:25px;
}


.product-price { font-weight: bold; color : #D96226; font-weight: bold; margin-left: 7%; }

.product-description { color : #D96226;  margin-left: 7%;font-weight: bold; }


/* ---- animation fade ----*/
.animates.ng-enter,.animates.ng-move {

	transition : 2s all;
	opacity: 0;
}

.animates.ng-enter.ng-enter-active, .animates.ng-move.ng-move-active {
	opacity: 1;
}

.animate.ng-leave.ng-leave-active{
	animation: 2s fade_products;
}


@keyframes fade_products {
	from {opacity:1 ;}
	to {opacity: 0;}
}

.error  { color: #AB0C1B; font-size: 10px; }




